.avatar-area{
    margin: 5px 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-image{
    border: solid 5px yellow;
    border-radius: 100%;
    width: 50%;
}